.tableBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size:  20px;
  font-weight: bold;
  color : blueviolet;
}

thead>tr {
  background-color: aquamarine;
}
.dx-datagrid-table {
  td {
    width: 50px ;
    color : rgb(130, 120, 140);
  }
}